<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .checkboxes label {
                display: inline-block;
                padding-right: 10px;
                white-space: nowrap;
              }
              .checkboxes input {
                vertical-align: middle;
              }
              .checkboxes label span {
                vertical-align: middle;
              }
        </style>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body style="color: rgb(104, 247, 9); background-color: black;">
        <fieldset>

        <center>
            <div class="container">
                <br>
                <h2>Multiple Disease Predictor</h2>
                <br>
                <p ><h4>Here is a platform that predicts human diseases based on the symptoms given. The user should check out the correct system and the prediction of the disease will be given after submission of the symptoms</h4> </p>
                
                <br>
                <form method="POST" >
                    <fieldset>
                       <legend>Check the patioent's symptoms:</legend> 
                  <br>
                    <div class="checkboxes">
                        <label><input type ="checkbox" value = 1  name="  abdominal_pain "><span>  Abdominal_pain </span></label>
                        <label><input type ="checkbox" value = 1  name="  abnormal_menstruation "><span>  Abnormal Menstruation </span></label>
                        <label><input type ="checkbox" value = 1  name="  acidity "><span>  acidity </span></label>
                        <label><input type ="checkbox" value = 1  name="  acute_liver_failure "><span>  Acute Liver Failure </span></label>
                        </div> 
                         <br> 
                         <div class="checkboxes">
                        <label><input type ="checkbox" value = 1  name="  altered_sensorium "><span>  Altered Sensorium </span></label>
                        <label><input type ="checkbox" value = 1  name="  anxiety "><span>  Anxiety </span></label>
                        <label><input type ="checkbox" value = 1  name="  back_pain "><span>  Back Pain </span></label>
                        <label><input type ="checkbox" value = 1  name="  belly_pain "><span>  Belly Pain </span></label>
                        </div> 
                         <br> 
                         <div class="checkboxes">
                            <label><input type ="checkbox" value = 1  name="  blackheads "><span>  Blackheads </span></label>
                            <label><input type ="checkbox" value = 1  name="  bladder_discomfort "><span>  Bladder Discomfort </span></label>    
                        <label><input type ="checkbox" value = 1  name="  blister "><span>  Blister </span></label>
                        <label><input type ="checkbox" value = 1  name="  blood_in_sputum "><span>  Blood in Sputum </span></label>
                        </div> 
                         <br> 
                         <div class="checkboxes">
                            <label><input type ="checkbox" value = 1  name="  bloody_stool "><span>  Bloody Stool </span></label>
                            <label><input type ="checkbox" value = 1  name="  blurred_and_distorted_vision "><span>  Blurred and Distorted Vision </span></label>
                            <label><input type ="checkbox" value = 1  name="  breathlessness "><span>  Breathlessness </span></label>
                            <label><input type ="checkbox" value = 1  name="  brittle_nails "><span>  Brittle Nails </span></label>
                        </div> 
                         <br> 
                         <div class="checkboxes">
                         <label><input type ="checkbox" value = 1  name="  bruising "><span>  Bruising </span></label>
                         <label><input type ="checkbox" value = 1  name="  burning_micturition "><span>  Burning Micturition </span></label>
                         <label><input type ="checkbox" value = 1  name="  chest_pain "><span>  Chest Pain </span></label>
                         <label><input type ="checkbox" value = 1  name="  chills "><span>  Chills </span></label>
                        </div> 
                        <br> 
    
                         <div class="checkboxes">
                        <label><input type ="checkbox" value = 1  name="  cold_hands_and_feets "><span>  Cold Hands and Feet </span></label>
                        <label><input type ="checkbox" value = 1  name="  coma "><span>  Coma </span></label>
                        <label><input type ="checkbox" value = 1  name="  congestion "><span>  Congestion </span></label>
                        <label><input type ="checkbox" value = 1  name="  constipation "><span>  Constipation </span></label>
                        </div> 
                         <br> 
                         <div class="checkboxes">
                            <label><input type ="checkbox" value = 1  name="  continuous_feel_of_urine "><span>  Continuous Feel of Urine </span></label>
                            <label><input type ="checkbox" value = 1  name="  continuous_sneezing "><span>  Continuous Sneezing </span></label>
                        <label><input type ="checkbox" value = 1  name="  cough "><span>  Cough </span></label>
                        <label><input type ="checkbox" value = 1  name="  cramps "><span>  Cramps </span></label>
                        </div> 
                         <br> 
                         <div class="checkboxes">
                            <label><input type ="checkbox" value = 1  name="  dark_urine "><span>  Dark Urine </span></label>
                            <label><input type ="checkbox" value = 1  name="  dehydration "><span>  Dehydration </span></label>    
                        <label><input type ="checkbox" value = 1  name="  depression "><span>  Depression </span></label>
                        <label><input type ="checkbox" value = 1  name="  diarrhoea "><span>  Diarrhoea </span></label>
                        </div> 
                         <br> 
                         <div class="checkboxes">
                            <label><input type ="checkbox" value = 1  name="  dischromic _patches "><span>  Dischromic Patches </span></label>
                            <label><input type ="checkbox" value = 1  name="  distention_of_abdomen "><span>  Distention of Abdomen </span></label>
                            <label><input type ="checkbox" value = 1  name="  dizziness "><span>  Dizziness </span></label>    
                        <label><input type ="checkbox" value = 1  name="  drying_and_tingling_lips "><span>  Drying and Tingling Lips </span></label>
                    <br>
                    <br>
                    <input type="submit" class='button' type="" value = 'Predict'>
                <div  >
                    <br>
                   <h2 style="color: white;">Disease is likely to be: </h2> <br>

                    <p style="font-size: 50px">{{ pred }}</p>                 
                </div>
            </fieldset>
                    </form>
                    
        </center>
                    
    </fieldset>
                 
            
        </div>
    </body>
</html>